# General Files
HELP.md

# Gradle
.gradle
build/

# Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar

# Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
.DS_Store
.AppleDouble
.LSOverride
.directory

# Java
*.class
*.jar
*.war
*.ear

# Package Files
*.nar
*.zip
*.tar.gz
*.rar

# Properties Files
application.properties
!application.properties.example
